<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="config.BookWithCategoryMapper">
	<resultMap id="BookWithCategoryMap" type="domain.BookWithCategory">
		<id	property="bookID"		column="BOOK_ID" />
		<result property="categoryID"   column="CATEGORY_ID" />
		<result	property="code1"	column="code1" />
		<result property="code2"           column="CODE2"/>
		<association property="book"	resultMap="BookMap" />
		<association property="category"  resultMap="CategoryMap" />
	</resultMap>
	
	<resultMap id="BookMap" type="domain.Book">
		<id property="bookID" column="BOOK_ID"/>
		<result	property="categoryID"	column="CATEGORY_ID" />
		<result	property="eventID"	    column="EVENT_ID" />
		<result	property="bookName"     column="BOOK_NAME" />
		<result	property="author"	    column="AUTHOR" />
		<result	property="publisher"	column="PUBLISHER" />
		<result	property="publishDate"	column="PUBLISH_DATE" />
		<result	property="imageID"	    column="IMAGE_ID" />
		<result property="price"	    column="PRICE" />
		<result property="stock"	    column="STOCK" />
		<result property="subtitle"	    column="SUBTITLE" />
		<result property="description"	column="DESCRIPTION" />
	</resultMap>
	
	<resultMap id="CategoryMap" type="domain.Category">
        <id     property="categoryID"      column="CATEGORY_ID"/>
        <result property="code1"           column="CODE1"/>
        <result property="code2"           column="CODE2"/>
        <result property="categoryName"    column="CATEGORY_NAME"/>
        <result property="categorySubject" column="CATEGORY_SUBJECT"/>
        <result property="categoryUse"     column="CATEGORY_USE"/>
    </resultMap>
        
    <!-- 도서 리스트를 불러온다. -->
    <select id="getBookWithCategorybook" parameterType="domain.Book"  resultMap="BookWithCategoryMap">
        SELECT b.code1,b.code2,a.*
        FROM books a
        LEFT JOIN category b
        ON a.category_id = b.category_id
        WHERE b.category_use = 1 
        <choose>
            <!-- 1차분류 도서 리스트를 불러온다. -->
		    <when test="code1 != null">
		      AND b.code1 = #{code1}
		    </when>
		    <!-- 선택한 도서 카테고리를 불러온다. -->
		    <when test="bookID != null">
		      AND a.book_id = #{bookID}
		    </when>
		    <!-- 2차분류 도서 리스트를 불러온다. -->
		    <when test="categoryID != null">
		    AND a.category_id = #{categoryID}
		    </when>
		    <!-- 해당상항이 없을 경우 전체리스트를 불러온다. -->
		    <otherwise>		      
		    </otherwise>
		</choose>
        ORDER BY b.CODE1,b.CODE2,a.BOOK_ID
    </select>
    
    <!-- 선택한 도서들의 카테고리를 불러온다. -->
    <select id="getBookWithCategoryBooks" resultMap="BookWithCategoryMap">
        SELECT b.CODE1, b.CODE2, a.*
        FROM BOOKS a
        LEFT JOIN CATEGORY b
        ON a.CATEGORY_ID = b.CATEGORY_ID
        WHERE a.book_id in
		  <foreach item="bookID" index="index" collection="array"
		      open="(" separator="," close=")">
		        #{bookID[index]}
		  </foreach>
        ORDER BY b.CODE1,b.CODE2,a.BOOK_ID
    </select>
</mapper>