<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="config.DeliveryMapper">
	<resultMap id="OrderMap" type="domain.PurchaseOrder">
		<id		property="purchaseOrderID"		column="PURCHASE_ORDER_ID" />
		<result	property="memberID"	column="MEMBER_ID" />
		<result	property="bookID"	column="BOOK_ID" />
		<result	property="eventID"	column="EVENT_ID" />
		<result	property="amount"	column="AMOUNT" />
		<result	property="purchaseDate"	column="PURCHASE_DATE" />
		<result	property="progress"	column="PROGRESS" />
	</resultMap>
	
	<select id="getOrders" resultMap="OrderMap">
		SELECT * FROM purchase_order ORDER BY MEMBER_ID
	</select><!-- 전체 주문목록 검색, 멤버별로 정리 -->
	
	<select id="getOrder" parameterType="int" resultMap="OrderMap">
		SELECT * FROM purchase_order WHERE PURCHASE_ORDER_ID = #{purchaseOrderID}
	</select><!-- 주문번호로 검색(단일검색) -->
	
	<select id="getProgress" parameterType="int" resultMap="OrderMap">
		SELECT * FROM purchase_order WHERE PROGRESS = #{progress} ORDER BY MEMBER_ID
	</select><!-- 배송상태로 검색 , 멤버별 정리-->
	
	<select id="getMember" parameterType="int" resultMap="OrderMap">
		SELECT * FROM purchase_order WHERE MEMBER_ID = #{memberID} ORDER BY MEMBER_ID
	</select><!-- 회원 번호로 검색 -->
	
	<insert id="addOrder" parameterType="domain.PurchaseOrder">
		INSERT INTO purchase_order (PURCHASE_ORDER_ID, MEMBER_ID, BOOK_ID, AMOUNT, PURCHASE_DATE, PROGRESS)
		values (PURCHASE_ORDER_ID_SEQ.NEXTVAL, #{memberID}, #{bookID}, #{amount}, sysdate, #{progress})
	</insert>
	
	<insert id="updateOrder" parameterType="domain.PurchaseOrder">
		update Books 
		set PROGRESS=#{progress}
		where PURCHASE_ORDER_ID = #{purchaseOrderID}
	</insert><!-- 배송상태 업데이트 -->

</mapper>
