<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="config.InvenMapper">
	<resultMap id="BookMap" type="domain.Book">
		<id		property="bookID"		column="BOOK_ID" />
		<result	property="categoryID"	column="CATEGORY_ID" />
		<result	property="eventID"	column="EVENT_ID" />
		<result	property="bookName"	column="BOOK_NAME" />
		<result	property="author"	column="AUTHOR" />
		<result	property="publisher"	column="PUBLISHER" />
		<result	property="publishDate"	column="PUBLISH_DATE" />
		<result	property="imageID"	column="IMAGE_ID" />
		<result property="price"	column="PRICE" />
		<result property="stock"	column="STOCK" />
		<result property="subtitle"	column="SUBTITLE" />
		<result property="description"	column="DESCRIPTION" />
	</resultMap>
	
	<select id="getBooks" resultMap="BookMap">
		SELECT * FROM Books ORDER BY book_ID
	</select>
	
	<select id="getAllBooks" resultMap="BookMap">
		SELECT * FROM Books ORDER BY BOOK_ID
	</select>
	
	<select id="getBook" parameterType="int" resultMap="BookMap">
		SELECT * FROM Books WHERE book_ID = #{bookID}
	</select>
	
	<insert id="addBook" parameterType="domain.Book">
		INSERT INTO Books (book_id, category_id, event_id, book_Name, author, publisher, publish_Date, image_id, price, stock, subtitle, description)
		values (BOOK_ID_SEQ.NEXTVAL, #{categoryID}, #{eventID}, #{bookName,jdbcType=VARCHAR}, #{author,jdbcType=VARCHAR}, #{publisher,jdbcType=VARCHAR},
		 #{publishDate,jdbcType=DATE}, #{imageID,jdbcType=VARCHAR}, #{price}, #{stock}, #{subtitle,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR})
	</insert>
	
	<update id="updateBook" parameterType="domain.Book">
		update Books 
		set category_id=#{categoryID}, event_id=#{eventID}, book_name=#{bookName}, author=#{author}, publisher=#{publisher}, 
		publish_Date=#{publishDate}, image_id=#{imageID}, price=#{price}, stock=#{stock}
		where book_ID = #{bookID}
	</update>
	
	<delete id="delBook" parameterType="int">
		delete from Books WHERE book_ID = #{bookID}
	</delete>
	  	
</mapper>
