<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="config.MemberMapper">
	<resultMap id="MemberMap" type="domain.Member">
		<id		property="memberId"		column="MEMBER_ID"/>
		<result	property="email"		column="EMAIL"/>
		<result property="password"		column="PASSWD"/>
		<result property="address"		column="ADDRESS"/>
		<result property="phone"		column="PHONE"/>
		<result property="bonusPoint"	column="BONUS_POINT"/>
	</resultMap>
	
	<select id="getMembers" resultMap="MemberMap">
		select * from members order by member_id
	</select>
	
	<select id="getMember" parameterType="domain.Member" resultMap="MemberMap">
		select * from members where member_id =#{memberID}
	</select>
	
	<select id="addMember" parameterType="domain.Member">
		insert into members(member_id, email, passwd, address, phone, bonus_point)
		values(member_id_seq.nextval, #{email,jdbcType=VARCHAR},#{password,jdbcType=VARCHAR}
				,#{address,jdbcType=VARCHAR},#{phone,jdbcType=VARCHAR},#{bonusPoint,jdbcType=NUMBER})
	</select>
</mapper>
