<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="config.UserInquireMapper">
	 	<resultMap id="UserInquireMap" 		type="domain.UserInquire">
		<id		property="userInquireID"	column="USERINQUIRE_ID"/>
		<result	property="memberID"			column="MEMBER_ID"/>
		<result	property="Type"				column="TYPE"/>
		<result property="Title"			column="TITLE"/>
		<result property="Content"			column="CONTENT"/>
		<result property="Date"				column="DATE"/>
		<result property="Answer"			column="ANSWER"/>
		<result property="State"			column="STATE"/>		
	</resultMap>
	
	<select id="getUserInquires" resultMap="UserInquireMap">
		select * from USERINQUIRES 
		order by USERINQUIRE_ID
	</select>
	
	<select id="getUserInquire" resultMap="UserInquireMap" parameterType="int">
		select * from USERINQUIRES 
		where USERINQUIRE_ID = #{userInquireID}
	</select>	
	
	<select id="getAskTitle" resultMap="UserInquireMap" parameterType="int">
		select * from USERINQUIRES
		where MEMBER_ID = #{memberID}
	</select>	
	
	<insert id="addUserInquire" parameterType="domain.UserInquire">
		insert into USERINQUIRES(MEMBER_ID, TYPE, TITLE, CONTENT, DATE, STATE)
		values(#{memberID},#{Type},#{Title,jdbcType=VARCHAR},#{Content,jdbcType=VARCHAR},#{Date,jdbcType=DATE}, #{State})
	</insert>
	
	<update id="updateUserInquire" parameterType="domain.UserInquire">
		update USERINQUIRES
		set ANSWER=#{Answer,jdbcType=VARCHAR}, STATE=#{State}
		where USERINQUIRE_ID = #{userInquireID}	
	</update>
	
</mapper>
