<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="config.UserInquireMapper">
	 	<resultMap id="UserInquireMap" 		type="domain.UserInquire">
		<id		property="userInquireId"	column="USERINQUIRE_ID"/>
		<result	property="qType"			column="Q_TYPE"/>
		<result property="qTitle"			column="Q_TITLE"/>
		<result property="qContent"			column="Q_CONTENT"/>
		<result property="qDate"			column="Q_DATE"/>
		<result property="qAnswer"			column="Q_ANSWER"/>
		<result property="qState"			column="Q_STATE"/>		
	</resultMap>
	
	<select id="getUserInquires" resultMap="UserInquireMap">
		select * from USERINQUIRES 
		order by USERINQUIRE_ID
	</select>
	
	<select id="getUserInquire" resultMap="UserInquireMap">
		select * from USERINQUIRES 
		where USERINQUIRE_ID = #{userInuqerId}
	</select>
	
	<insert id="addUserInquire" parameterType="domain.UserInquire">
		insert into USERINQUIRES(Q_TYPE, Q_TITLE, Q_CONTENT, Q_DATE)
		values(#{qType,jdbcType=VARCHAR},#{qTitle,jdbcType=VARCHAR},#{qContent,jdbcType=NUMERIC},#{qDate,jdbcType=DATE})
	</insert>
	<!-- 
	<insert id="addUserInquire" parameterType="domain.UserInquire">
		insert into USERINQUIRES(Q_TYPE, Q_TITLE, Q_CONTENT, Q_DATE, Q_ANSWER, Q_STATE)
		values( #{qType,jdbcType=VARCHAR}, #{qTitle,jdbcType=VARCHAR},  
				#{qContent,jdbcType=NUMERIC}, #{qDate,jdbcType=VARCHAR},  
				#{qAnswer,jdbcType=VARCHAR}, #{qState,jdbcType=VARCHAR})
	</insert> 
	-->
	<!-- 
	<update id="resultUserInquire" parameterType="domain.UserInquire">	
		
	</update>
	 -->
</mapper>
