<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="config.UserInquireMapper">
	 	<resultMap id="UserInquireMap" 		type="domain.UserInquire">
		<id		property="userInquireID"	column="USERINQUIRE_ID"/>
		<result	property="memberID"			column="MEMBER_ID"/>
		<result	property="Type"				column="TYPE"/>
		<result property="Title"			column="TITLE"/>
		<result property="Content"			column="CONTENT"/>
		<result property="Date"				column="DATE"/>
		<result property="Answer"			column="ANSWER"/>
		<result property="State"			column="STATE"/>		
	</resultMap>
	
	<select id="getUserInquires" resultMap="UserInquireMap">
		select * from USERINQUIRES 
		order by USERINQUIRE_ID
	</select>
	
	<select id="getUserInquire" resultMap="UserInquireMap">
		select * from USERINQUIRES 
		where USERINQUIRE_ID = #{userInuqerId}
	</select>
	
	<insert id="addUserInquire" parameterType="domain.UserInquire">
		insert into USERINQUIRES(MEMBER_ID, TYPE, TITLE, CONTENT, DATE)
		values(#{memberID},#{Type},#{Title,jdbcType=VARCHAR},#{Content,jdbcType=VARCHAR},#{Date,jdbcType=DATE})
	</insert>
	<!-- 
	<insert id="addUserInquire" parameterType="domain.UserInquire">
		insert into USERINQUIRES(Q_TYPE, Q_TITLE, Q_CONTENT, Q_DATE, Q_ANSWER, Q_STATE)
		values( #{qType,jdbcType=VARCHAR}, #{qTitle,jdbcType=VARCHAR},  
				#{qContent,jdbcType=NUMERIC}, #{qDate,jdbcType=VARCHAR},  
				#{qAnswer,jdbcType=VARCHAR}, #{qState,jdbcType=VARCHAR})
	</insert> 
	-->
	<!-- 
	<update id="resultUserInquire" parameterType="domain.UserInquire">	
		
	</update>
	 -->
</mapper>
