@CHARSET "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

* {box-sizing:border-box}

body {
    font-family: 'NotoSansKR', 'Nanum Gothic', "Times New Roman", Times, sans-serif;
}

#topHeadAd,#ad1Div,#bestDiv,#slideDiv,#footBrand {
	display: none;
}
#psearch .col-xs-1{
	margin:0;
    padding:0;
}

/* 본문 내용 */
#section {
    padding:0 1rem;
}
/* 모바일 상단 고정 메뉴 */
.jbFixed {
    position: fixed;
    top: 0px;
}
.jbMenu {
	z-index: 1000;
}
/* 최상단 로고 검색창 */
#headerwrap {
	margin-top:1.5rem;
}
#headerwrap .fband {
    font-size:2rem;
    color:#0275d8;
    margin-left:-0.8rem;    
}
#headerwrap .fband span{
    font-size:2.3rem;
    color:#0275d8;
}
#headerwrap .fband font{
    font-size:1.5rem;
    color:#0275d8;
}
#headerwrap .divider{
	margin:0 0.5rem;
}
#ftophead{
	margin-bottom:1rem;
}
#ftopheadbtn a{
	font-size:2rem;
	color:#0275d8;
}

/* //공통 상단 */

/* 공통 하단 시작 */
#footer {
    padding:0.5rem 1rem;
    font-size:1.2rem;
    line-height: 1.8;
}
#footer p{
    margin-top:0.5rem;
    font-size:1.3rem;
}
.footer_line{
    background-color:#0275d8;
    height:0.5rem;
}
.footer_header{
    background-color:#F4F4F4;
    height:3rem;
    margin-bottom:2rem;
}

.footer_header ul.breadcrumb {
    padding: 0.7rem 1.5rem 0 2rem;
    font-size: 1.2rem;
    width:100%;
}
.footer_header ul.breadcrumb li+li:before {
    padding:0 0.7rem;
    color: #999;
    content: "|";
}
.footer_header ul.breadcrumb li a {
    color: #777;
    text-decoration: none;
}
.footer_header ul.breadcrumb li a:hover {
    color: #333;
    text-decoration: underline;
}
/* 공통 하단 끝 */

/* 고정 탑 메뉴 */
#MOVE_TOP_BTN{
    color: #00ace6;
    font-size: 6rem;
    position: fixed; 
    bottom: 15px; 
    right: 30px; 
    z-index: 100; 
    cursor: pointer; 
    display: block;
    opacity: 0.3;
}